@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gabarito&family=Roboto:wght@500&family=Special+Elite&family=Ubuntu&display=swap");

* {
  margin: 0;
}

body {
  background-color: rgb(63, 63, 63);
  padding: 10px;
}

#top-menu {
  display: flex;
  height: 40px;
}

#top-menu a {
  /* Creating box */
  width: 200px;
  height: 40px;
  border-radius: 10px 10px 0px 0px;
  background-color: rgb(194, 168, 137);
  margin-right: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  /* Modifying text */
  color: black;
  font-family: "Special Elite", system-ui;
  font-weight: 500;
  font-style: normal;
  font-size: 27px;
  text-decoration: underline;
}

#top-menu a.chosen {
  background-color: bisque;
}

#game-bg-div {
  height: calc(100vh - 100px);
  width: calc(100vw - 60px);
  background-color: bisque;
  padding: 20px;
  box-shadow: 3px 3px 1px 1px rgba(0, 0, 0, 0.15);
  border-radius: 0px 10px 10px;
}

/* Not used at the moment but I want to avoid deleting it in case I use it in the future. */
.stacked-paper-border {
  /* Kod lånad och sen modifierad från https://css-tricks.com/snippets/css/stack-of-paper/ */
  box-shadow:
    /* The top layer shadow */ 0.5px 0.5px 1px 1.5px
      rgba(0, 0, 0, 0.15),
    /* The second layer */ 5.5px 5.5px 0 -1px rgb(255, 249, 239),
    /* The second layer shadow */ 5.5px 5.5px 1px 1px rgba(0, 0, 0, 0.15),
    /* The third layer */ 11px 11px 0 -2px rgb(255, 249, 239),
    /* The third layer shadow */ 11px 11px 1px 0px rgba(0, 0, 0, 0.15);
}

#search-results-div {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

.search-link {
  color: darkblue;
  text-decoration: none;
  margin: 10px;
  font-size: larger;
}

.search-link:hover {
  text-decoration: underline;
}

#phone-div {
  display: none;
  position: absolute;
  top: 100px;
  right: 20px;
  bottom: 20px;
  width: 290px;
  border-radius: 30px;
  border: 5px groove rgb(40, 40, 40);
  background: rgb(62, 62, 62);
  flex-direction: column;
  z-index: 9999;
  align-items: center;
  padding-top: 40px;
}

#phone-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  font-size: xx-large;
  background-color: rgb(164, 221, 164);
  border-color: green;
}

#close-phone-button {
  position: absolute;
  bottom: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: gray;
  color: lightgray;
}

.contact-btn {
  color: rgb(243, 243, 243);
  background-color: rgb(104, 104, 104);
  border: 3px solid rgb(38, 38, 38);
  height: 30px;
  width: 90%;
  border-radius: 5px;
  font-family: "Ubuntu";
  font-size: large;
}

#dialog-box {
  width: auto;
  height: 25%;
  background-color: white;
  border: 3px solid rgb(38, 38, 38);
  margin: 15px;
  padding: 20px;
  border-radius: 15px;
  margin-top: auto;
  font-family: "Ubuntu";
  font-size: large;
}

#dialog-box::first-line {
  font-weight: bold;
  text-decoration: underline;
}

/* CLUES */

#clue-container-div {
  display: flex;
}

.clue-button {
  position: absolute;
  width: 30px;
  height: 30px;
  left: -12px;
  border-radius: 50%;
}

.add-clue-button {
  background-color: lightgreen;
  color: darkGreen;
  font-size: 15px;
}

.remove-clue-button {
  background-color: lightcoral;
  color: darkred;
  font-size: 15px;
}

.clue {
  margin: 15px;
  /* Used so that it is recognized as the clue.button's block container */
  transform: rotate(0deg);
}

/* HAMBURGER */

#hamburger-button {
  display: none;
  position: absolute;
  right: 30px;
  background-color: transparent;
  color: rgb(95, 75, 51);
  font-size: 30px;
  border: none;
}

#hamburger-menu-div {
  position: fixed;
  right: -100vw;
  top: 65px;
  z-index: 999999;
  height: 100vh;
  transition: right 0.75s ease-out;
}

ul {
  list-style-type: none;
}

.hamburger-item {
  margin-top: 25px;
  display: flex;
  justify-content: flex-end;
}

.hamburger-item a {
  color: rgb(57, 74, 12);
  text-decoration: none;
  font-family: "Ubuntu";
  font-size: large;
  background-color: rgb(179, 236, 37);
  padding: 8px 10px 8px 10px;
  width: 140px;
  text-align: center;
  clip-path: polygon(10% 100%, 0 50%, 10% 0, 100% 0, 100% 100%);
}
.hamburger-item a.chosen {
  background-color: rgb(236, 163, 37);
}

@media screen and (max-width: 520px) {
  #top-menu {
    display: none;
  }
  #game-bg-div {
    height: calc(100vh - 60px);
    border-radius: 20px;
  }
  #hamburger-button {
    display: block;
  }
}

/* ANIMATIONS */

#phone-div.open {
  animation: phone-open-anim 0.2s both;
}

#phone-div.close {
  animation: phone-close-anim 0.2s both;
}

@keyframes phone-open-anim {
  from {
    transform: scale(0);
    transform-origin: 100% 100%;
  }
  to {
    transform: scale(1);
    transform-origin: 100% 100%;
  }
}

@keyframes phone-close-anim {
  from {
    transform: scale(1);
    transform-origin: 100% 100%;
  }
  to {
    transform: scale(0);
    transform-origin: 100% 100%;
  }
}

.clue.shrink {
  animation: clue-shrink-anim 0.2s both;
}

@keyframes clue-shrink-anim {
  0% {
    transform: scale(1);
    transform-origin: 0% 100%;
  }
  100% {
    transform: scale(0);
    transform-origin: 0% 100%;
  }
}
